@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html,
body {
  width: 100%;
  height: 100%;
} */

:root {
  --brand-color: #5565ff;
  --error-color: #f30300;
  --color-red: #ff0000;
  --color-black: black;
  --color-mainBlack: #292d32;
  --none-error-color: #919191;
  --color-white: white;
  --color-strike: #b1b1b1;
  --font-all: Inter;
  --font-size60: calc(60 / 14.4 * 1vw);
  --font-size12: calc(12 / 14.4 * 1vw);
  --font-size10: calc(10 / 14.4 * 1vw);
  --font-size16: calc(12 / 14.4 * 1vw);
  --font-size20: calc(20 / 14.4 * 1vw);
  --font-size36: calc(36 / 14.4 * 1vw);
  --font-weight200: 200;
  --font-weight300: 300;
  --font-weight400: 400;
  --font-weight500: 500;
  --font-weight600: 600;
  --font-weight700: 700;
}

html,
body {
  width: 100%;
  height: 100%;
}

.padding20 {
  padding: calc(20 / 14.4 * 1vw);
}

.gap20 {
  gap: calc(20 / 14.4 * 1vw);
}

a {
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.w-1045 {
  width: calc(1045 / 14.4 * 1vw);
}

.j-between {
  justify-content: space-between;
}

.j-start {
  justify-content: start;
}

.a-center {
  align-items: center;
}

.as-center {
  align-self: center;
}

.js-center {
  justify-self: center;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: end;
}

.d-column {
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.f-wrap {
  flex-wrap: wrap;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.borderRadius10 {
  border-radius: calc(10 / 14.4 * 1vw);
}

.gap5 {
  gap: calc(5 / 14.4 * 1vw);
}
